# common
.env
.env.*
!.env.example
mise.local.toml
mise.local.lock
.claude/settings.local.json
.DS_Store
lcov.info
package.tar.gz
profile.json.gz
report-nextest.junit.xml
report-vitest.junit.xml
ASSIGNMENT.md

.venv/
dist/
node_modules/
coverage-vitest/
target/
__pycache__/

# .cache
.cache/**
!.cache/
!.cache/.gitkeep
!.cache/cargo/
!.cache/cargo/.gitkeep
!.cache/pnpm/
!.cache/pnpm/.gitkeep
!.cache/rustup/
!.cache/rustup/.gitkeep
!.cache/sccache/
!.cache/sccache/.gitkeep
!.cache/uv/
!.cache/uv/.gitkeep
!.cache/ruff/
!.cache/ruff/.gitkeep

# packages/node
packages/node/build/
packages/node/export_dist/
packages/node/docs/
